.answer {
  text-align: center;
  font-size: 1rem;
  padding: 0.7rem;
  display: block;
  border: solid 2px lightgoldenrodyellow;
  background-color: red;
  border-radius: 25px;
}

.answer:hover {
  background-color: blue;
  cursor: grabbing;
}

.answer-revealed.right-answer {
  background-color: green;
  transform: scale(2.1);
  border-color: #ffc600;
  color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

.answer-revealed.wrong-answer {
  background-color: grey;
  transform: scale(0.0);
}
