.game-form {
  grid-column: 1;
  grid-row: 2;
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  align-items: center;
}

.round-list {
  grid-column: 2;
  grid-row: 2;
}

.round-in-game {
  background-color: gold;
  border: solid 2px lightseagreen;
  color: lightseagreen;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 20px;
  list-style: none;
}

.rounds-in-game-header {
  font-size: 20px;
  color: gold;
  text-align: center;
}

.genre-select {
    border: solid 2px gold;
    min-width: 200px;
    font-size: 20px;
    background-color: lightseagreen;
    padding: 16px 32px;
    margin: 4px 2px;
    box-sizing: border-box;
    border-radius: 10px;
    color: gold;
}

.add-round-text {
  grid-row: 1;
  grid-column: 1/3;
  color: gold;
  font-size: 30px;
}

.generate-questions {
  background-color: lightseagreen;
  border: solid 2px gold;
  color: gold;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.add-round-form {
  text-align: center;
  justify-content: center;
  display: grid;
}

label {
  display: block;
  color: gold;
  font-size: 24px;
}

.radio {
  margin: 0 1.81em 0 0;
}

.radio-container {
	border: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	break-before: always;
  margin-bottom: 20px;
  margin-top: 8px;
  margin: 5px;
}
